body {
    font-family: DejaVu Sans, sans-serif;
    margin: 20px;
}

.header {
    text-align: center;
    margin-bottom: 30px;
}

.date-range {
    text-align: center;
    margin-bottom: 20px;
}

.section {
    margin-bottom: 30px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th,
td {
    border: 1px solid #000;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f5f5f5;
}

.text-right {
    text-align: right;
}

.font-weight-bold {
    font-weight: bold;
}

.summary {
    margin-top: 30px;
    padding: 10px;
    border: 1px solid #000;
}


.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 10px;
}

.company-logo {
    width: 100px;
}

.company-details {
    margin-left: 10px;
}

.company-details h2 {
    margin: 0;
    font-size: 18px;
}

.company-details p {
    margin: 0;
    font-size: 14px;
}